.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
target/digitalwatch-1.0-SNAPSHOT-jar-with-dependencies.jar
target/digitalwatch-1.0-SNAPSHOT.jar
target/digitalwatch-1.0-SNAPSHOT.zip
target/classes/module-info.class
target/classes/com/arn/digitalwatch/DigitalWatch.class
target/maven-archiver/pom.properties
target/maven-jlink/default/release
target/maven-jlink/default/bin/api-ms-win-core-console-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-datetime-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-debug-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-errorhandling-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-file-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-file-l1-2-0.dll
target/maven-jlink/default/bin/api-ms-win-core-file-l2-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-handle-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-heap-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-interlocked-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-libraryloader-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-localization-l1-2-0.dll
target/maven-jlink/default/bin/api-ms-win-core-memory-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-namedpipe-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-processenvironment-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-processthreads-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-processthreads-l1-1-1.dll
target/maven-jlink/default/bin/api-ms-win-core-profile-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-string-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-synch-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-synch-l1-2-0.dll
target/maven-jlink/default/bin/api-ms-win-core-sysinfo-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-timezone-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-core-util-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-conio-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-convert-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-environment-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-filesystem-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-heap-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-locale-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-math-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-multibyte-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-private-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-process-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-runtime-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-stdio-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-string-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-time-l1-1-0.dll
target/maven-jlink/default/bin/api-ms-win-crt-utility-l1-1-0.dll
target/maven-jlink/default/bin/awt.dll
target/maven-jlink/default/bin/fontmanager.dll
target/maven-jlink/default/bin/freetype.dll
target/maven-jlink/default/bin/hello
target/maven-jlink/default/bin/hello.bat
target/maven-jlink/default/bin/java.dll
target/maven-jlink/default/bin/java.exe
target/maven-jlink/default/bin/javajpeg.dll
target/maven-jlink/default/bin/javaw.exe
target/maven-jlink/default/bin/jawt.dll
target/maven-jlink/default/bin/jimage.dll
target/maven-jlink/default/bin/jli.dll
target/maven-jlink/default/bin/jsound.dll
target/maven-jlink/default/bin/keytool.exe
target/maven-jlink/default/bin/lcms.dll
target/maven-jlink/default/bin/mlib_image.dll
target/maven-jlink/default/bin/msvcp140.dll
target/maven-jlink/default/bin/net.dll
target/maven-jlink/default/bin/nio.dll
target/maven-jlink/default/bin/prefs.dll
target/maven-jlink/default/bin/splashscreen.dll
target/maven-jlink/default/bin/ucrtbase.dll
target/maven-jlink/default/bin/vcruntime140.dll
target/maven-jlink/default/bin/verify.dll
target/maven-jlink/default/bin/zip.dll
target/maven-jlink/default/bin/client/jvm.dll
target/maven-jlink/default/bin/server/jvm.dll
target/maven-jlink/default/conf/net.properties
target/maven-jlink/default/conf/sound.properties
target/maven-jlink/default/conf/security/java.policy
target/maven-jlink/default/conf/security/java.security
target/maven-jlink/default/conf/security/policy/README.txt
target/maven-jlink/default/conf/security/policy/limited/default_local.policy
target/maven-jlink/default/conf/security/policy/limited/default_US_export.policy
target/maven-jlink/default/conf/security/policy/limited/exempt_local.policy
target/maven-jlink/default/conf/security/policy/unlimited/default_local.policy
target/maven-jlink/default/conf/security/policy/unlimited/default_US_export.policy
target/maven-jlink/default/legal/java.base/ADDITIONAL_LICENSE_INFO
target/maven-jlink/default/legal/java.base/aes.md
target/maven-jlink/default/legal/java.base/asm.md
target/maven-jlink/default/legal/java.base/ASSEMBLY_EXCEPTION
target/maven-jlink/default/legal/java.base/c-libutl.md
target/maven-jlink/default/legal/java.base/cldr.md
target/maven-jlink/default/legal/java.base/icu.md
target/maven-jlink/default/legal/java.base/LICENSE
target/maven-jlink/default/legal/java.base/public_suffix.md
target/maven-jlink/default/legal/java.base/unicode.md
target/maven-jlink/default/legal/java.base/zlib.md
target/maven-jlink/default/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
target/maven-jlink/default/legal/java.datatransfer/ASSEMBLY_EXCEPTION
target/maven-jlink/default/legal/java.datatransfer/LICENSE
target/maven-jlink/default/legal/java.desktop/ADDITIONAL_LICENSE_INFO
target/maven-jlink/default/legal/java.desktop/ASSEMBLY_EXCEPTION
target/maven-jlink/default/legal/java.desktop/colorimaging.md
target/maven-jlink/default/legal/java.desktop/freetype.md
target/maven-jlink/default/legal/java.desktop/giflib.md
target/maven-jlink/default/legal/java.desktop/harfbuzz.md
target/maven-jlink/default/legal/java.desktop/jpeg.md
target/maven-jlink/default/legal/java.desktop/lcms.md
target/maven-jlink/default/legal/java.desktop/libpng.md
target/maven-jlink/default/legal/java.desktop/LICENSE
target/maven-jlink/default/legal/java.desktop/mesa3d.md
target/maven-jlink/default/legal/java.prefs/ADDITIONAL_LICENSE_INFO
target/maven-jlink/default/legal/java.prefs/ASSEMBLY_EXCEPTION
target/maven-jlink/default/legal/java.prefs/LICENSE
target/maven-jlink/default/legal/java.xml/ADDITIONAL_LICENSE_INFO
target/maven-jlink/default/legal/java.xml/ASSEMBLY_EXCEPTION
target/maven-jlink/default/legal/java.xml/bcel.md
target/maven-jlink/default/legal/java.xml/dom.md
target/maven-jlink/default/legal/java.xml/jcup.md
target/maven-jlink/default/legal/java.xml/LICENSE
target/maven-jlink/default/legal/java.xml/xalan.md
target/maven-jlink/default/legal/java.xml/xerces.md
target/maven-jlink/default/lib/classlist
target/maven-jlink/default/lib/fontconfig.bfc
target/maven-jlink/default/lib/fontconfig.properties.src
target/maven-jlink/default/lib/jawt.lib
target/maven-jlink/default/lib/jrt-fs.jar
target/maven-jlink/default/lib/jvm.cfg
target/maven-jlink/default/lib/jvm.lib
target/maven-jlink/default/lib/modules
target/maven-jlink/default/lib/psfont.properties.ja
target/maven-jlink/default/lib/psfontj2d.properties
target/maven-jlink/default/lib/tzdb.dat
target/maven-jlink/default/lib/tzmappings
target/maven-jlink/default/lib/client/Xusage.txt
target/maven-jlink/default/lib/security/blacklisted.certs
target/maven-jlink/default/lib/security/cacerts
target/maven-jlink/default/lib/security/default.policy
target/maven-jlink/default/lib/security/public_suffix_list.dat
target/maven-jlink/default/lib/server/Xusage.txt
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst